Options -Indexes

# Block direct access to includes/
<FilesMatch "\.(sql)$">
  Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^includes/ - [F,L]
</IfModule>
